body {
  background-color: #fdf8ed;
  font-family: Arial, sans-serif;
}

.main-box {
  max-width: 850px;
  margin: 50px auto;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.table th,
.table td {
  white-space: nowrap;
  font-size: 14px;
  vertical-align: middle;
}

.btn-primary,
.btn-outline-primary {
  background-color: #583e23 !important;
  border-color: #583e23 !important;
  color: #fff !important;
}

.btn-primary:hover,
.btn-outline-primary:hover {
  background-color: #3f2b17 !important;
  border-color: #3f2b17 !important;
  color: #fff !important;
}

.btn-outline-light {
  color: white !important;
  border-color: white !important;
  background-color: transparent !important;
}

.btn-outline-light:hover {
  background-color: white !important;
  color: #583e23 !important;
}

.card-header.bg-primary,
.table .bg-primary,
.btn.bg-primary,
.bg-primary {
  background-color: #583e23 !important;
  border-color: #583e23 !important;
}

.table thead.table-light {
  background-color: #fdf8ed !important;
}

.table thead.table-light th {
  background-color: #fdf8ed !important;
  color: #000; /* або той, що підходить */
}

.card-header .btn-outline-light {
  color: white !important;
  border-color: white !important;
  background-color: transparent !important;
}

.card-header .btn-outline-light:hover {
  background-color: white !important;
  color: #583e23 !important;
}

.rules-section {
  max-height: 400px;
  overflow-y: auto;
}

#rules-table thead th {
  position: sticky;
  top: 0;
  background-color: #f8f9fa;
  z-index: 2;
}

.rule-row {
  position: relative;
}

.delete-btn {
  color: #dc3545;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.delete-btn:hover {
  color: #a7131d;
  text-decoration: none;
}

#add-rule-form {
  display: none;
  margin-top: 1rem;
}

.custom-switch-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1.2rem;
}

.custom-switch {
  position: relative;
  width: 28px;
  height: 16px;
  flex-shrink: 0;
}

.custom-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 3px;
  top: 3px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

.custom-switch input:checked + .slider {
  background-color: #583e23;
}

.custom-switch input:checked + .slider:before {
  transform: translateX(12px);
  background-color: white;
}

.custom-switch input:focus + .slider {
  box-shadow: 0 0 0 0.2rem rgba(88, 62, 35, 0.3);
}